.home {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    height:100vh;
    justify-content: center;
  }

.homecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width:100rem;
    align-items: center;
    justify-content: center;
    
}


.containerleft a{
    text-decoration: none;
    color:white;
}


.home button {
    position: relative;
    background-color: black;
    border-radius: 5px;
    font-size: 1.5rem;
    
  }
  
.home img {
    height:35rem;
    width: 31rem;
    border-radius:15px;
    
  }