.home {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    height:100vh;
  }

.homecontainer{
    display: flex;
    flex-direction: row;
    width:90%;
    align-items: center;
    justify-content: center;
    gap:10rem;
}

.containerleft{
    width:50%;
}

.containerleft a{
    text-decoration: none;
    color:white;
}

.containerright{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
  
.home button {
    position: relative;
    background-color: black;
    border-radius: 5px;
    font-size: 1.5rem;
    
  }
  
.home img {
    height:50vh;
    border-radius:15px;
    
  }