.home {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }

.homecontainer{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:10rem;
}

.containerleft a{
    text-decoration: none;
    color:white;
}
  
  .home button {
    position: relative;
    background-color: black;
    border-radius: 5px;
    font-size: 1.5rem;
    
  }
  
  .home img {
    height:90vh;
    
  }