.navbar {
    width: 100%;
    height: 70px;
    background:black;
    box-shadow:0px 0px 10px rgba(0,0,0,.40);
    font-family:Poppins;
  }

  .links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    font-family:'Nunito Sans', Courier, monospace;
  }
  
  .expanded {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transition: 0.5s;
  }

  .expanded .links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content:flex-start;
  }

  .expanded .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
    
  .navbar a {
    color: white;
    text-decoration: none;
    margin:20px;
    font-size: 18px;
  }
  
  .toggleButton {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 60px;
  }
  
  .toggleButton button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 860px) {
    .toggleButton {
      display: flex;
    }
  
    .links{
      display:none;
    }
  
  
  }
  
  @media only screen and (min-width: 861px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
  
  }